################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LunchOrder/.vs/LunchOrder/FileContentIndex
