################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LunchOrder/.vs/LunchOrder/FileContentIndex


# Ignore obj folders
*.obj/

# Ignore additional files
*.suo
*.user
*.suo
*.cache
*.vscode
/.vs/slnx.sqlite
/LunchOrder/LunchOrder.Data/bin/Debug/net8.0
